	// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@import 'bootstrap';
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400);

html {
    height: 100%;
}

body{
	font-family: 'Lato', serif;
	margin: 0;
	-webkit-font-smoothing:subpixel-antialiased;
}

.navbar-inner {
	padding-top: 5px;
  background-image: none;
  background-repeat: no-repeat;
  filter: none;
 }
 .navbar-inner a {
  color: white;
  font-size: 16px;
  font-weight: 100;
  opacity: .6;
  letter-spacing: 2px;
 }

.brand {
	float: left;
	font-size: 35px;
	color: #242a2e;
	font-weight: 300;
}

.brand a {
  color: white;
  font-size: 35px;
  font-weight: 300;
 }
.brand a:hover {
    color: #242a2e;
    text-decoration: none;
    -webkit-transition:all 0.15s ease-out;
    font-weight: 300;
}

.landing {
	background: url(/assets/apple_guy.jpg) no-repeat;
	background-position: center;
	background-size: cover;
	height: 700px;
}

.cover_red {
	background: rgba(255, 110, 96, 0.85);
	color: white;
	height: 700px;
}

.message{
	text-align: center;
	padding-bottom: 30px;

}

.message h1 {
	margin: 0px;
	padding-top: 245px;
	font-size: 75px;
	font-weight: 100;
	letter-spacing: 7px
}

.message h2 {
	margin: 0px;
	font-size: 30px;
	padding-bottom: 5px;
	font-weight: 100;
	letter-spacing: 2px;
}

.action{
	font-size: 30px;
	height: 90px;
	color:#242a2e;
}

.call {
	margin-left: auto;
	margin-right: auto;
	width: 45%;
}

.call_info{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 700px;
	font-size: 23px;
	font-weight: 100;
	letter-spacing: 2px;
	opacity: .6;
}

input    {
	width: 62%;
	height: 50px;
	background-color: #FFD4CF;
	border: 0;
	font-size:10px;
	font-weight: 100;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #888888 ;
   	font-size:15px;
   	font-weight: 100;
   	letter-spacing: 1px;
   	padding-top: 10px;
   	padding-left: 15px;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #888888;
    opacity:  1;
   	font-size:15px;
   	font-weight: 100;
   	letter-spacing: 1px;
   	padding-top: 10px;
   	padding-left: 15px;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #888888;
    opacity:  1;
    font-size:15px;
    font-weight: 100;
    letter-spacing: 1px;
    padding-top: 10px;
   	padding-left: 15px;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #888888;
    font-size:15px;
    font-weight: 100;
    letter-spacing: 1px;
    padding-top: 10px;
   	padding-left: 15px;
}

/* Button Styles */

.btn-action {
	height: 50px;
	background-image:none;
	border-color:transparent;
	box-shadow:none;
	font-size:15px;
	font-weight: 100;
	text-shadow:none;
	border-radius:0px;
	width:35%;
   background-color: #242a2e;
   color: white;
	float: right;
	overflow: hidden;
	letter-spacing: 1px;

}

.sell_one {
	background: url(/assets/earth_headphones.png) no-repeat;
	background-position: center;
	background-size: 700px;
	height: 700px;
}

.cover_grey {
	color: white;
	height: 700px;
	background: rgba(36, 42, 46, 0.85);
}

.cover_grey_soft {
	color: white;
	height: 1045px;
	background: rgba(36, 42, 46, 0.9);
}
.sell_title_grey{
	text-align: center;
	margin: 0px;
	font-size: 45px;
	padding-bottom: 20px;
	font-weight: 100;
	letter-spacing: 2px;
	color: #ff6e60;
	padding-top: 100px;
}

.sell_info_grey{
	text-align: center;
	margin: 0px;
	font-size: 27px;
	padding-bottom: 5px;
	font-weight: 100;
	letter-spacing: 2px;
	color: white;
	width: 32em;
	margin-left: auto;
	margin-right: auto;
}

.sell_info_grey_action{
	text-align: center;
	margin: 0px;
	font-size: 27px;
	margin-top: -25px;
	padding-bottom: 25px;
	font-weight: 100;
	letter-spacing: 2px;
	color: white;
	width: 32em;
	margin-left: auto;
	margin-right: auto;
}

.sell_title_red{
	text-align: center;
	margin: 0px;
	font-size: 45px;
	padding-bottom: 20px;
	font-weight: 100;
	letter-spacing: 2px;
	color: white;
	padding-top: 100px;
}

.sell_info_red{
	text-align: center;
	margin: 0px;
	font-size: 27px;
	padding-bottom: 5px;
	font-weight: 100;
	letter-spacing: 2px;
	color: #242a2e;
	width: 32em;
	margin-left: auto;
	margin-right: auto;
}

.last_action{
	font-size: 30px;
	height: 90px;
	color:#242a2e;
}

.last_call {
	margin-left: auto;
	margin-right: auto;
	width: 700px;
}

.crafted{
	background: url(/assets/black_headphones.jpg) no-repeat;
	background-position: center;
	background-size: cover;
	height: 700px;
}

.action_grey {
	color: white;
	height: 400px;
	background: #242a2e;
}

.btn-final_action{
	height: 50px;
	background-image:none;
	border-color:transparent;
	box-shadow:none;
	font-size:15px;
	font-weight: 100;
	text-shadow	:none;
	border-radius:0px;
	width:35%;
  background-color: #ff6e60;
  color: white;
	float: right;
	overflow: hidden;
	letter-spacing: 1px;

}

.square {
  width: 200px;
  height: 200px;
  margin: 50px;
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  overflow: hidden;
}

.chris_pic {
  background: url(/assets/chris.jpg);
  background-size: cover;
  width: 300px;
  height: 300px;
  margin: -50px;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);

}

.alex_pic {
  background: url(/assets/alex.jpg);
  background-size: cover;
  width: 300px;
  height: 300px;
  margin: -50px;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);

}

.jess_pic {
  background: url(/assets/jess.jpg);
  background-size: cover;
  width: 300px;
  height: 300px;
  margin: -50px;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);

}

.pic_well {
	padding-top: 20px;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	font-size: 100px;
}

.pic_inner {
	float:left;
	width: 65%;

}

.pic_title {
	font-family: 'Lato', serif;
	text-align: center;
	font-weight: 200;
	color: white;
	letter-spacing: 2px;
}



