<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <div class="brand"><%= link_to "ADIUS", root_path %>PRIME  </div>
        <ul class="nav navbar-nav navbar-right"> 
          <% if @user.email == nil %>
          <li><%= link_to "Sign Up", root_path %></li> 
          <% end %>
        </ul>
    </div>
  </div>
</header> 